video{
	background-color: black;
}

canvas{
	position: absolute;
	top: 0px;
	left: 0px;
}

#videoContainer{
	position: relative;
	width: 1300px;
	height: 740px;
	top: 0px;
	left: 0px;
}

#progress{
	width: 1200px;
	height: 10px;
}

.buttons{
	width: 150px;
	height: 40px;
}
