body{
	font-family: sans-serif;
	margin: 0px;
	padding-bottom: 100px;
}

h1{
	color: white;
	font-size: 3em;
}

span{
	color: white;
	font-size: 1.8em;
}

input{
	font-size: 1.1em;
	width: 350px;
	height: 30px;
}

.success{
	color: white;
	font-weight: bold;
	background-color: #33FF00;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	padding-left: 60px;
}

.error{
	color: white;
	font-weight: bold;
	background-color: #CC0000;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	padding-left: 60px;
}

.links{
	font-size: 1.3em;
}

#background{
	position: fixed;
	z-index: -1;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100vw;
	height: 100vh;
}

#home{
	float: left;
	background-image: url(images/logo.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	width: 240px;
	height: 80px;
	margin: 20px 0px 0px 40px;
	cursor: pointer;
}

#main{
	width: 800px;
	clear: both;
	margin: auto;
}

#back{
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 1.2em;
	border: 2px solid white;
	border-radius: 5px;
	width: 180px;
	height: 39px;
	margin-top: 20px;
	margin-right: 20px;
	padding-top: 18px;
	cursor: pointer;
}
